.beneficios{
    text-align: center;
    padding-bottom: 50px;
    h4 {
        color: $secondary-color;
        font-weight: 500;
    font-size: larger;
    }
    p {
        color: $secondary-color;
        font-weight: 100;
    }
}