.recomendacion {
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: $secondary-color;
        h3{
            text-align: center;
            color: $tertiary-color;
            font-weight: 700;
            padding-bottom: 30px;
            text-shadow: 3px 3px 3px $primary-color;
        }
        h6{
            text-align: center;
        }
        .video{
            text-align: center;
        }
        .responsive-video{
            display: none;
        }
}